{{!< default}}
{{> header}}

<section class="main" role="main">
{{#post}}
<article role="article" itemscope itemtype="http://schema.org/Article">

<header class="postheader">
<time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='DD.MM.YYYY'}}</time>
<h1 itemprop="headline">{{title}}</h1>
</header>

{{content}}
{{#if tags}}
<div class="tags">
Tags: {{tags separator=" | "}}
</div>
{{/if}}
<div class="share">
<h4>Share this post:</h4>
<ul>
<li><a class="icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&amp;url={{url absolute="true"}}">Twitter</a></li>
<li><a class="icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}">Facebook</a></li>
<li><a class="icon-gplus" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">Google+</a></li>
</ul>
</div>
{{#if author}}
<footer>
<address itemscope itemtype="http://schema.org/Person">
{{#if author.image}}<div><img src="{{author.image}}" itemprop="image" alt="{{author.name}}" /></div>{{/if}}
<p>{{author.name}}</p>
{{#if author.website}}<p>Website: <a href="{{author.website}}" itemprop="url">{{author.website}}</a></p>{{/if}}
</address>
{{#if author.bio}}<div><p>{{author.bio}}</p></div>{{/if}}
</footer>
{{/if}}
</article>
{{/post}}
{{#if pagination}}{{{pagination}}}{{/if}}
</section>

{{> footer}}